/* custom css */

body{
		width: 100%
	}
*{
	font-family: garamond
}
h1{
	font-family: calibri;
	margin-bottom: -5px;
	text-align: center;
}

h2 {
	margin-bottom: -20px;
	font-family: calibri;
}

h3 {
	text-align: center;
	margin: -6px
	}

.courses {
float: left;
	display: inline;
	
}
.c1{
		width: 20%;
float: left;
}

.c2{
		width: 20%;
float: left;
}

.c3{
		width: 20%;
float: left;
}

.work{
	margin-top: 25%
}

.pos{
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
}

ul{
	margin-left: -12px;
	line-height: 20px;
}

